.svg-text svg path,
.glyph svg path {
    fill: var(--mud-palette-text-primary);
    fill-rule: nonzero;
}

.glyph svg {
    margin: 0 auto;
}

svg line.adornment {
    opacity: 0.2;
    stroke-dasharray: 4;
    stroke-width: 1px;
    stroke: var(--mud-palette-primary);
}

svg line.adornment-assender,
svg line.adornment-descender {
    stroke: var(--mud-palette-secondary);
}

.glyph {
    white-space: nowrap;
}

    .glyph .mud-card-content {
        min-height: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.mud-grid > div {
    flex-shrink: 0;
    width: 100%;
}

.mud-grid-item {
    flex-shrink: 0;
}


.mud-paper {
    background-color: var(--mud-palette-drawer-background);
}

.char-name .mud-tooltip-inline {
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 1.4em;
    width: 100%;
}
