
.glyph svg path {
    fill: black;
}

.glyph svg line.adornment {
    stroke: black;
    opacity: 0.2;
    stroke-dasharray: 4;
    stroke-width: 1px;
}

.glyph svg line.adornment-line-height {
    stroke: green;
}

.glyph svg line.adornment-descender {
    stroke: red;
}

.glyph svg line.adornment-assender {
    stroke: red;
}

.glyph svg {
    height: 130px;
}

.glyph {
    white-space: nowrap;
}

    .glyph .mud-card-content {
        height: 190px;
    }

.mud-grid > div {
    flex-shrink: 0;
    width: 100%;
}

.mud-grid-item {
    flex-shrink: 0;
}
